<div class="chord-group">
  <%= @chord_display %>
</div>

<!-- <script type='text/javascript'>
html2canvas(document.getElementById("chord-box-1")).then(canvas => {
    document.body.appendChild(canvas)
});
</script> -->
